<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="RestAPISuite">
  <test thread-count="5" name="MyBVTSuite">
    <classes>
      <class name="GetRequest.GetUsers"/>
   </classes>
  </test>
  <test thread-count="5" name="MyFunctionalSuite">
    <classes>
      <class name="PostRequest.AddUsers"/>
    </classes>
  </test>
</suite> <!-- RestAPISuite -->
